<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul>
    <li style="text-align: left; display: inline-block" routerLink="/dashboard" >Dashboard</li>
    <li style="text-align: left; display: inline-block" routerLink="/one" >One</li>
    <li style="text-align: left; display: inline-block" routerLink="/two">Two</li>
    <li style="text-align: left; display: inline-block" routerLink="/user/dashboard">user</li>
  </ul>
</div>
<style>

ul{
  text-align: left;
} 
 ul li{
   padding: 20px;
   color: blue;
   text-decoration: underline;
   cursor: pointer;
   font-size: 18px;
 }
</style>

<div style="padding: 0px 50px">
   <router-outlet></router-outlet>

   <h2 *ngIf="checkRoute">its Working papa</h2>
</div>

